<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="{{url_for('static', filename = 'js/funcionAjax.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
</head>
<body>
        <form action="/login" method="post" id="login" enctype="multipart/form-data">
            <div class="form-group">
                    <label>Email:</label>
                    <input id="correo" class="form-control" type="text" name="correo" placeholder="ejemplo@ejemplo" maxlength="100" >
            </div>

            <div class="form-group">
                    <label>Contraseña:</label>
                    <input id="contraseña" class="form-control" type="password" name="contraseña" placeholder="password" maxlength="20">
                  </div>
            <button type="submit">Validar</button>
        </form>
</body>
    <img src="{{url_for('static',filename='imagenes/concurso.jpg')}}">
</html>