<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
    <title>Local Programming Contesz</title>
    <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 500px;
  }
  </style>
  </head>
  <body>
    <!--- Esta es la parte del menú ------------------------------------------------------------------------------------>
    <header><!-- Aquí empieza el MENU -->
              <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
              <!-- Brand -->
              <a class="navbar-brand" href="/principal">Local Programming Contesz</a>

                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                      <!-- Dropdown -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop1" data-toggle="dropdown">
                            ADMINISTRACIÓN
                          </a>

                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/docentes">Docentes</a>
                            <a class="dropdown-item" href="/usuarios">Usuarios</a>
                          </div>
                      </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop2" data-toggle="dropdown">
                                CONCURSOS
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="Edicion_Eventos/consultaEdicionEventos.html">Eventos</a>
                                <a class="dropdown-item" href="Categorias/consultaCategorias.html">Categorías</a>
                              </div>
                          </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop3" data-toggle="dropdown">
                                PARTICIPANTES
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="Alumnos/consultaAlumnos.html">Alumnos</a>
                                <a class="dropdown-item" href="Equipos/consultaEquipos.html">Equipos</a>
                                <a class="dropdown-item" href="Carreras/consultaCarreras.html">Carreras</a>
                              </div>
                          </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop4" data-toggle="dropdown">
                                PROBLEMAS
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="Problemas/consultaProblemas.html">Problemas</a>
                                <a class="dropdown-item" href="Problemas_Propuestos/consultaProblemasPropuestos.html">Problemas Propuestos</a>
                                <a class="dropdown-item" href="Problemas_Resueltos/consultaProblemasResueltos.html">Problemas Resueltos</a>
                              </div>
                          </li>

                          <li class="nav-item">
                            <a data-toggle="modal" data-target="#myModalIniciarSesion" class="nav-link btn btn-secondary" href="#">INICIAR SESIÓN</a>
                          </li>
                    </ul>
              </nav>
    </header><!-- Aquí Termina el MENU -->
    <!--- Esta es la parte del menú ------------------------------------------------------------------------------------>
    <main>
      <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{{url_for('static', filename='imagenes/carusel1.png')}}"/>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='imagenes/carusel2.png')}}"/>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='imagenes/carusel3.png')}}"/>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
    </main>

    <div class="anuncio">
      <div class="container">
        <h1 class="display-1"><b>COMPITE</b></h1>
        <h2>Participa en concursos de programación y pon a prueba tus conocimientos</h2>
        <a href="Edicion_Eventos/consultaEdicionEventos.html" class="btn btn-primary">Ir a concursos</a>
      </div>
    </div>

    <div class="anuncio">
      <div class="container">
        <h1 class="display-1"><b>ENTRENA</b></h1>
        <h2>Resuelve problemas y mejora tus habilidades</h2>
        <a href="Problemas/consultaProblemas.html" class="btn btn-primary">Ir a problemas</a>

      </div>
    </div>

    <div class="footer">
      <div class="">

      </div>
    </div>


    <!-- Aquí empieza la parte del  Modal LOGIN --------------------------------------------------------------------->
    <div class="modal" id="myModalIniciarSesion">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">INICIAR SESIÓN</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form>
                      <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" type="email" name="email" placeholder="ejemplo@ejemplo" maxlength="100" required>
                      </div>
                      <div class="form-group">
                        <label>Contraseña:</label>
                        <input class="form-control" type="password" name="password" placeholder="password" maxlength="20" required>
                      </div>

                      <button class="btn btn-success">LOG IN</button>
                </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Aquí Termina la parte del  Modal LOGIN --------------------------------------------------------------------->





<!-- Estas lineas son necesarias para que funcione el MODAL-->
<!--<script src="js/jquery-3.5.1.min.js"> </script> Estas lineas son necesarias para que funcione el MODAL-->
<!--<script src="js/popper.min.js"> </script> Estas lineas son necesarias para que funcione el MODAL-->
<!--<script src="js/bootstrap.min.js"> </script> Estas lineas son necesarias para que funcione el MODAL-->
<!-- Estas lineas son necesarias para que funcione el MODAL-->
<script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  </body>
</html>
