<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba CRUD</title>

</head>
<body>
<form action="{{url_for('insert')}}" method="POST">


               <div class="">


                  <label>Name:</label>
                   <input type="text"  name="name">


               </div>



               <div class="form-group">


                  <label>Email:</label>

                  <input type="text"  name="email" >


               </div>


               <div class="form-group">


                  <label>Phone:</label>

                  <input type="text"  name="phone" >


               </div>


               <div class="form-group">


                  <button class="" type="submit">CREAR</button>


               </div>


            </form>
</body>
</html>