<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concurso Programacion</title>
</head>
<body>
<p><h1>Acceso al Sistema de Concurso de Programacion</h1></p>
<form action="/login" method="post">
    <label>Email: </label>
    <input type="email" name="email" required>
    <br>
    <label>Contraseña:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">validar</button>
    <a href="/Usuarios/consultaUsuarios">Registrar cuenta</a>

</form>
</body>
    <img src="{{url_for('static',filename='imagenes/concurso.jpg')}}">

</html>