<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
      <script src="{{url_for('static',filename='js/problemasPropuestos.js')}}"></script>
    <title> Problemas Propuestos</title>
  </head>
  <body>
    <!--- Esta es la parte del menú ------------------------------------------------------------------------------------>
    <header><!-- Aquí empieza el MENU -->
              <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
              <!-- Brand -->
              <a class="navbar-brand" href="../principal.html">Local Programming Contesz</a>

                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                      <!-- Dropdown -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop" data-toggle="dropdown">
                            ADMINISTRACIÓN
                          </a>

                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="../Docentes/consultaDocentes.html">Docentes</a>
                            <a class="dropdown-item" href="../Usuarios/consultaUsuarios.html">Usuarios</a>
                          </div>
                      </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop" data-toggle="dropdown">
                                CONCURSOS
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Edicion_Eventos/consultaEdicionEventos.html">Eventos</a>
                                <a class="dropdown-item" href="../Categorias/consultaCategorias.html">Categorías</a>
                              </div>
                          </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop" data-toggle="dropdown">
                                PARTICIPANTES
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Alumnos/consultaAlumnos.html">Alumnos</a>
                                <a class="dropdown-item" href="../Equipos/consultaEquipos.html">Equipos</a>
                                <a class="dropdown-item" href="../Carreras/consultaCarreras.html">Carreras</a>
                              </div>
                          </li>

                          <!-- Dropdown -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbardrop" data-toggle="dropdown">
                                PROBLEMAS
                              </a>

                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="../Problemas/consultaProblemas.html">Problemas</a>
                                <a class="dropdown-item" href="consultaProblemasPropuestos.html">Problemas Propuestos</a>
                                <a class="dropdown-item" href="../Problemas_Resueltos/consultaProblemasResueltos.html">Problemas Resueltos</a>
                              </div>
                          </li>

                          <li class="nav-item">
                            <a data-toggle="modal" data-target="#myModalIniciarSesion" class="nav-link btn btn-secondary" href="#">INICIAR SESIÓN</a>
                          </li>
                    </ul>
              </nav>
    </header><!-- Aquí Termina el MENU -->
    <!--- Esta es la parte del menú ------------------------------------------------------------------------------------>

    <!--- Esta es la parte de CONSULTA, Aquí es la tabla que enlista los elementos de la tabla-------------------------->
    <!--- Los botones: Registrar, Editar y ELiminar activan cada uno a su modal correspondiente------------------------->
    <!--- A los botones: Registrar, Editar y ELiminar se les tiene que agregar a cada uno un data-target------------------------->
    <main>
        <section>
              <div class="container">
                <h1>LISTA DE PROBLEMAS PROPUESTOS</h1>
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalAltaProblemasPropuestos">Registrar Problema Propuesto</button>
                <table class="table table-bordered">
                  <th>No. Problemas</th>
                  <th>No. Problemas Propuestas</th>
                  <th>No. Edición</th>
                  <th>No. Categoría</th>
                  <th>Color</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                    <td>Azul</td>
                    <td><a data-toggle="modal" data-target="#myModalEditarProblemasPropuestos" class="btn btn-warning btn-sm">Editar</a></td>
                    <td><a onclick="mostrarDiv()"class="btn btn-danger btn-sm">Eliminar</a></td>
                  </tr>
                </table>
              </div>
        </section>
    </main>
<!--- Esta es la parte de CONSULTA, Aquí es la tabla que enlista los elementos de la tabla-------------------------->

<!-- Aquí va el div que seré el mensaje de eliminar ------------------------------------------------------------>
<div id="modalEliminacion"class="modalPadreEliminacion">
  <div class="modalEliminacion">
  <b>¿SEGURO QUE LO DESEA ELIMINAR?</b>
  <button onclick="ocultarDiv()" class="btn btn-success">ELIMINAR</button>
  <button onclick="ocultarDiv()"type="submit" class="btn btn-danger" name="accion" value="crear">CANCELAR</button>
  </div>
</div>
<!-- Aquí va el div que seré el mensaje de eliminar ------------------------------------------------------------>

<!-- Aquí empieza la parte del  Modal AGREGAR --------------------------------------------------------------------->
<div class="modal" id="myModalAltaProblemasPropuestos">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">AGREGAR PROBLEMA PROPUESTO</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form onsubmit="return validar(this)">
              <div class="form-group">
                <label>No. Problemas:</label>
                <input class="form-control" type="number"  name="noproblemas">
              </div>

              <div class="form-group">
                <label>No. Problemas Propuestos:</label>
                <input class="form-control" type="number"  name="noproblemaspropuestos">
              </div>

              <div class="form-group">
                <label>No. Edición:</label>
                <input class="form-control" type="number" name="noedicion">
              </div>

              <div class="form-group">
                <label>Color del problema:</label>
                <select name="color" class="form-control">
                    <option id="color">Blanco</option>
                    <option id="color">azul</option>
                    <option id="color">Rojo</option>
                    <option id="color">Negro</option>
                </select>
              </div>

              <div style="color:red" id="notificacionescrear">

              </div>
              <button type="submit" class="btn btn-success" name="accion" value="crear">Guardar</button>
            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>
<!-- Aquí Termina la parte del  Modal AGREGAR --------------------------------------------------------------------->

<!-- Aquí empieza Modal EDITAR ------------------------------------------------------------------------------------>
<div class="modal" id="myModalEditarProblemasPropuestos">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">EDITAR PROBLEMA PROPUESTO</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form onsubmit="return validar(this)">
          <div class="form-group">
            <label>No. Problemas:</label>
            <input class="form-control" type="number" name="noproblemas">
          </div>

          <div class="form-group">
            <label>No. Problemas Propuestos:</label>
            <input class="form-control" type="number" name="noproblemaspropuestos">
          </div>

          <div class="form-group">
            <label>No. Edición:</label>
            <input class="form-control" type="number" name="noedicion">
          </div>

          <div class="form-group">
            <label>Color del problema:</label>
            <select name="color" class="form-control">
                <option id="color">Blanco</option>
                <option id="color">azul</option>
                <option id="color">Rojo</option>
                <option id="color">Negro</option>
            </select>
          </div>

          <div style="color:red" id="notificacioneseditar">

          </div>
          <button  type="submit" class="btn btn-success" name="accion" value="editar">Guardar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>
<!-- Aquí termina Modal EDITAR ------------------------------------------------------------------------------------>


<!-- Aquí empieza Modal ELIMINAR --------------------------------------------------------------------------------------------------->
<div class="modal" id="myModalEliminarProblemasPropuestos">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ELIMINAR PROBLEMAS PROPUESTO</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
                <p>¿Estas seguro de eliminar problema propuesto: <b></b>?</p>

                  <button class="btn btn-success">Eliminar</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>
<!-- Aquí termina Modal ELIMINAR --------------------------------------------------------------------------------------------------->


<!-- Aquí empieza la parte del  Modal LOGIN --------------------------------------------------------------------->
<div class="modal" id="myModalIniciarSesion">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">INICIAR SESIÓN</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
                  <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="email" name="email" placeholder="ejemplo@ejemplo" maxlength="100" required>
                  </div>
                  <div class="form-group">
                    <label>Contraseña:</label>
                    <input class="form-control" type="password" name="password" placeholder="password" maxlength="20" required>
                  </div>

                  <button class="btn btn-success">LOG IN</button>
            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>
<!-- Aquí Termina la parte del  Modal LOGIN --------------------------------------------------------------------->

<!-- Estas lineas son necesarias para que funcione el MODAL-->
<script src="../js/jquery-3.5.1.min.js"> </script><!-- Estas lineas son necesarias para que funcione el MODAL-->
<script src="../js/popper.min.js"> </script><!-- Estas lineas son necesarias para que funcione el MODAL-->
<script src="../js/bootstrap.min.js"> </script><!-- Estas lineas son necesarias para que funcione el MODAL-->
<!-- Estas lineas son necesarias para que funcione el MODAL-->
  </body>
</html>
